/.bundle
/config/master.key
/config/credentials/*.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep


/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/coverage/*
/coverage
/public/docs/*
/spec/docs/v1/docs.md

/storage/*
!/storage/.keep
.byebug_history
/node_modules
yarn.*
