default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV['DB_HOST'] || 'localhost' %>
  port: <%= ENV['DB_PORT'] || 5432 %> 
  username: <%=  Rails.application.credentials.dig(:pg, :username) %> 
  password: <%=  Rails.application.credentials.dig(:pg, :password) %> 

development:
  <<: *default
  database: to_do_api_2_development

test:
  <<: *default
  database: to_do_api_2_test

production:
  <<: *default
  database: to_do_api_2_production
  username: to_do_api
  password: <%= ENV['TO_DO_API_2_DATABASE_PASSWORD'] %>
